<section id="about-us" class="section" style="display: flex; justify-content: space-between ; ">
    <div class="container" style="padding-bottom: 100px;">

        <div class="section-title">
            <h2 class="h2" style="color: rgb(252, 217, 77);">About Us</h2>
        </div>
        <div class="section-content">
            <div class="section-text">
                <p class="section-subtitle"><b>Welcome to Digi Doo </b>, </p>
                <p style="padding-left: 12%;">
                    At DigiDoo Media, we break the mold of conventional digital marketing. Our small, passionate team
                    delivers innovative, tailored solutions with full attention and expertise.
                </p>
                <br>
                <p style="padding-left: 12%;">We push boundaries and build authentic connections between your brand and
                    audience, crafting stories
                    that resonate. We combine quality with affordability and focus on delivering real, measurable
                    results.
                </p>
                <br>
                <p style="padding-left: 12%;">With transparency and flexibility at our core—no hidden charges, no
                    surprises—we're ready to create
                    something amazing together. At DigiDoo Media, we're not just a service provider; we're your partners
                    in digital success.
                </p>
            </div>
        </div>
    </div>
    <!-- <div> -->
    <img src="images/meetingIMG.png" alt="About Us" style="width: 30%; margin-right: 100px">
    <!-- </div> -->
</section>