<footer class="footer">

    <div class="footer-top">
        <div class="container">

            <div class=" footer-brand">

                <a href="#" class="logo" style="display:flex; align-items:center">

                    <img style="width:100px; margin-right: 5px;" src="images/digidooLogoColored.png" alt="DigiDoo logo">
                    <span id="logo_name" style="    color:white;font-weight:1000 ; "> DigiDoo Media</span>
                </a>

                <p class="footer-text">
                    There is no magic, it's time to get the team you & your Business
                    deserve.</p>

            </div>

            <div class="footer-contact">

                <h4 class="contact-title">Contact Us</h4>

                <p class="contact-text">
                    Feel free to contact and reach us !!
                </p>

                <ul>

                    <li class="contact-item">
                        <ion-icon name="call-outline"></ion-icon>

                        <a href="tel:+91 7397914579" class="contact-link">+91 7397914579</a>
                    </li>

                    <li class="contact-item">
                        <ion-icon name="mail-outline"></ion-icon>

                        <a href="mailto:info@digidoo.com" class="contact-link">admin@digidoomedia.co.in</a>
                    </li>

                    <li class="contact-item">
                        <ion-icon name="location-outline"></ion-icon>

                        <address>Pune, Maharashtra, India</address>
                    </li>

                </ul>

            </div>


        </div>
    </div>

    <div class="footer-bottom">
        <p class="copyright" style="text-align: center;">
            &copy; 2024 <a href="#">DigiDoo Media</a>. All rights reserved
        </p>
    </div>

</footer>