<section id="services" class="dark" style=" padding-top: 30px; padding-bottom: 30px;">
    <div class="container py-4">
        <h1 class="h1 text-center" id="pageHeaderTitle"
            style=" font-size: calc(18px + 1.6vw); color: rgb(241, 59, 66);">Services</h1>

        <article class="postcard dark blue">
            <a class="postcard__img_link" href="#">
                <img class="postcard__img" src="../images/webdesign.jpeg" alt="Image Title" />
            </a>
            <div class="postcard__text">
                <h1 class="postcard__title blue"><a href="#">Web Design</a></h1>
                <!-- <div class="postcard__subtitle small">
                    <time datetime="2020-05-25 12:00:00">
                    <i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
                    </time>
                </div> -->
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">Crafting visually stunning and user-friendly websites that captivate
                    your audience and elevate your brand, we blend creativity with technical expertise to deliver
                    exceptional digital experiences. Your website is often the first impression of your brand, and we
                    ensure it leaves a lasting impact. A well-designed site enhances credibility and boosts customer
                    engagement, offering a seamless user experience that keeps visitors returning.
                </div>
                <!-- <ul class="postcard__tagbox">
                    <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
                    <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
                    <li class="tag__item play blue">
                        <a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
                    </li>
                </ul> -->
            </div>
        </article>
        <article class="postcard dark red">
            <a class="postcard__img_link" href="#">
                <img class="postcard__img" src="../images/content.jpeg" alt="Image Title" />
            </a>
            <div class="postcard__text">
                <h1 class="postcard__title red"><a href="#">Content Writing</a></h1>
                <!-- <div class="postcard__subtitle small">
                    <time datetime="2020-05-25 12:00:00">
                        <i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
                    </time>
                </div> -->
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">From blog posts and social media updates to website copy and email
                    newsletters, our high-quality content establishes credibility, builds trust, and fosters meaningful
                    connections with your audience. Effective content drives organic traffic and improves your search
                    engine rankings, helping communicate your brand's values and messages clearly. Consistent and
                    engaging content keeps your audience informed and connected.
                </div>
                <!-- <ul class="postcard__tagbox">
                    <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
                    <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
                    <li class="tag__item play red">
                        <a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
                    </li>
                </ul> -->
            </div>
        </article>
        <article class="postcard dark green">
            <a class="postcard__img_link" href="#">
                <img class="postcard__img" src="../images/fbIMG.jpg" alt="Image Title" />
            </a>
            <div class="postcard__text">
                <h1 class="postcard__title green"><a href="#">Social Media Marketing</a></h1>
                <!-- <div class="postcard__subtitle small">
                    <time datetime="2020-05-25 12:00:00">
                        <i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
                    </time>
                </div> -->
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">We engage your audience, build brand awareness, and drive conversions
                    through strategic social media management. Our team develops content, manages campaigns, and
                    analyzes performance to maximize your social presence. Social media is a powerful tool for direct
                    communication with your audience, enhancing brand loyalty and customer satisfaction. Strategic
                    social media marketing can significantly boost your online presence and reputation.
                </div>
                <!-- <ul class="postcard__tagbox">
                    <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
                    <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
                    <li class="tag__item play green">
                        <a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
                    </li>
                </ul> -->
            </div>
        </article>
        <article class="postcard dark yellow">
            <a class="postcard__img_link" href="#">
                <img class="postcard__img" src="../images/ppc.jpg" alt="Image Title" />
            </a>
            <div class="postcard__text">
                <h1 class="postcard__title yellow"><a href="#">P-P-C Campaigns</a></h1>
                <!-- <div class="postcard__subtitle small">
                    <time datetime="2020-05-25 12:00:00">
                        <i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
                    </time>
                </div> -->
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">We drive targeted traffic to your website through carefully crafted
                    PPC campaigns, managing your ad spend effectively to deliver measurable results and maximize your
                    ROI. PPC campaigns provide immediate visibility and results, allowing precise targeting to reach
                    your ideal customers. Well-managed PPC campaigns can lead to significant growth in sales and
                    brand awareness.</div>
                <!-- <ul class="postcard__tagbox">
                    <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
                    <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
                    <li class="tag__item play yellow">
                        <a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
                    </li>
                </ul> -->
            </div>
        </article>
    </div>
</section>

<link rel="stylesheet" href=" css/services/services.css" type="text/css">