<h2 id="timeline"
    style=" font-size: calc(18px + 1.6vw);font-weight: 700;  padding-top: 70px; color: rgb(252, 217, 77);">
    THE ROADMAP
</h2>
<div class="timeline">
    <div class="timeline__event  animated fadeInUp delay-3s timeline__event--type1">
        <div class="timeline__event__icon ">
            <i class="lni-cake"></i>
        </div>
        <div class="timeline__event__date">
            Phase 1
        </div>
        <div class="timeline__event__content ">
            <div class="timeline__event__title">
                Initial Consultation
            </div>
            <div class="timeline__event__description" style="color: black;">
                <ul>
                    <li>
                        <p>- A phone call to brief you about the project and gather preliminary information.

                        </p>
                    </li>
                    <li>
                        <p>- Understanding your initial requirements and goals to align our approach.</p>
                    </li>



                </ul>
            </div>
        </div>
    </div>
    <div class="timeline__event animated fadeInUp delay-2s timeline__event--type2">
        <div class="timeline__event__icon">
            <i class="lni-burger"></i>


        </div>
        <div class="timeline__event__date">
            Phase 2 </div>
        <div class="timeline__event__content">
            <div class="timeline__event__title">
                Detailed Discussion
            </div>
            <div class="timeline__event__description" style="color: black;">
                <ul>
                    <li>
                        <p>- An online or offline meeting to discuss the project in detail, clarifying objectives.</p>
                    </li>
                    <li>
                        <p>- Addressing specific needs and setting clear expectations for the project's scope.</p>
                    </li>





                </ul>
            </div>
        </div>
    </div>
    <div class="timeline__event animated fadeInUp delay-1s timeline__event--type3">
        <div class="timeline__event__icon">
            <i class="lni-slim"></i>

        </div>
        <div class="timeline__event__date">
            Phase 3
        </div>
        <div class="timeline__event__content">
            <div class="timeline__event__title">
                Proposal and Paperwork
            </div>
            <div class="timeline__event__description" style="color: black;">
                <ul>
                    <li>
                        <p>- Sending an official proposal, quotation, and contract for your review and approval.</p>
                    </li>
                    <li>
                        <p>- Completing all necessary paperwork to ensure everything is documented and agreed upon.</p>
                    </li>





                </ul>
            </div>

        </div>
    </div>
    <div class="timeline__event animated fadeInUp timeline__event--type1">
        <div class="timeline__event__icon">
            <i class="lni-cake"></i>

        </div>
        <div class="timeline__event__date">
            Phase 4
        </div>
        <div class="timeline__event__content">
            <div class="timeline__event__title">
                Project Execution
            </div>
            <div class="timeline__event__description" style="color: black;">
                <ul>
                    <li>
                        <p>- Assigning a dedicated project head to manage your project, ensuring efficient workflow.</p>
                    </li>
                    <li>
                        <p>

                            - Providing monthly reports to keep you updated on progress and performance.
                        </p>
                    </li>


                </ul>
            </div>
        </div>
    </div>

    <div class="timeline__event animated fadeInUp delay-2s timeline__event--type2">
        <div class="timeline__event__icon">
            <i class="lni-burger"></i>


        </div>
        <div class="timeline__event__date">
            Phase 5 </div>
        <div class="timeline__event__content">
            <div class="timeline__event__title">
                Ongoing Support
            </div>
            <div class="timeline__event__description" style="color: black;">
                <ul>
                    <li>
                        <p>- Offering continuous customer care to promptly address any queries or concerns.</p>
                    </li>
                    <li>
                        <p>

                            - Regularly reviewing and refining strategies based on performance data to ensure ongoing
                            success.</p>
                    </li>

                    </li>

                </ul>
            </div>
        </div>
    </div>

</div>
<link href="css/timeline/timelinecss.css" rel="stylesheet">